.service {
	background-color: #333;
	color: #fff;
	padding: 15px;
	margin-top: 20px;
	border-radius: 5px;
}
		
h2,h3,a ,span {
	text-align: center;
	color:#fff;
}

.container{ }

a:hover {
	color:#9d9d9d;
}

body {
	background-color: #333;
	font-size: 18px;
}

#imgproduct {
	border-radius: 10px 10px 10px 10px;
}

#submit {
	width:42px;
	height: 42px;
	color:#333;
	background-color:#333;
	background-image: url('../images/1600.png');
	background-repeat: no-repeat;
	background-position: center;
}

footer {
	color: #fff;
	font-size: 15px;
	text-align:center;
	background-color: #333;
	padding: 40px 0;
	margin-top: 40px;
}