 h2, a {
 	color:#fff;
}
		
footer {
	color: #fff;
	font-size: 15px;
	text-align:center;
	background-color: #333;	
	padding: 40px 0;
	margin-top: 40px;
}

body { 
	background-color: #333;
	font-size: 18px;
}